.btn {
    @apply inline-flex items-center
        text-lg font-bold px-5 py-2
        border border-deep-40
        duration-500 rounded;

    .icon {
        @apply mr-1;
    }
    
}
.btn.btn-small {
    
}

.btn-primary {
    @apply bg-deep-95 hover:bg-deep-90
        shadow-md hover:shadow-lg
        text-white font-medium text-sm text-center
        inline-block uppercase
        px-5 py-2 
        focus:outline-none 
        duration-500 transition ease-in-out;

    // @apply focus:bg-deep-90 active:bg-deep-90 focus:shadow-lg active:shadow-lg;
    // @apply leading-tight focus:ring-0;
}

.close-btn {
    box-sizing: content-box;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.btn-reaction {
    @apply duration-500 bg-slate-200 text-black py-1 px-6 rounded inline-flex items-center gap-1;

    &.btn-active {
        @apply text-light-100 bg-deep-95 border-deep-100;
    }
}
