.nav-main {
    @apply w-full order-5 lg:flex-1 lg:order-3 lg:px-4
        border-t border-deep-95 lg:border-0
        relative z-10;
}

.nav-main a {
    @apply flex md:justify-center;
}

.nav-main .icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/**/
.nav-main-items {
    @apply hidden m-0 md:flex h-0 md:h-auto;
}

.nav-main-items li {
    @apply relative m-0 p-3 lg:p-5
        overflow-hidden duration-500
        text-center flex-auto lg:flex-initial;
}

.nav-main-items li .icon {
    @apply lg:hidden;
}

.nav-main-items li span {
    @apply md:hidden lg:inline-block;
}

.nav-main-items > li:hover,
.nav-main-items > li.current {
    @apply bg-deep-95 text-light-100;
}


.nav-main-items.active {
    @apply absolute bg-deep-100 
        w-full h-auto 
        flex flex-wrap;
}
.nav-main-items.active li {
    @apply text-left ;

    flex: 0 0 50%;
    max-width: 50%;
}

.nav-main-items.active > li::after {
    @apply hidden;
}
