AddDefaultCharset UTF-8

## 404 Error Page
ErrorDocument 404 __my_kahuk_base__error_404

##
Options +FollowSymlinks -MultiViews
RewriteEngine on
RewriteBase __my_kahuk_base__

## FORCE HTTPS ONLY
# RewriteCond %{HTTPS} !=on
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

## Allow few SEO Files direct access.
RewriteRule ^robots.txt?$ robots.txt [L]
RewriteRule ^ads.txt?$ ads.txt [L]
RewriteRule ^sellers.json?$ sellers.json [L]

## Avoid rewriting rules for the admin section
RewriteRule ^(admin|resources)($|/) - [L]

## 
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule !^admin/ /%1 [R=301,NE,L,NC]

## Set Ajax Request File
RewriteRule ^(kahuk-ajax)/?$ $1.php [L,QSA]

## Set controller with id
RewriteRule ^([^/]+)/([0-9]+)/?$ index.php?con=$1&id=$2 [L,QSA]

## Set controller with slug
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?con=$1&slug=$2 [L,QSA]

## For paging
RewriteRule ^([^/]+)/page/([0-9]+)/?$ index.php?con=$1&page=$2 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/page/([0-9]+)/?$ index.php?con=$1&slug=$2&page=$3 [L,QSA]

## Set controller for only one parameter
RewriteRule ^page/([^/]+)/?$ index.php?con=page&slug=$1 [L,QSA]

##
RewriteRule ^([^/.]+)/?$ index.php?con=$1 [L,QSA]

## Set home page
RewriteRule ^/?$ index.php?con=home [L]

## Restrict few files from direct access.
<files "config.php">
order allow,deny
deny from all
</files>

<files "kahuk-configs.php">
order allow,deny
deny from all
</files>

<files ~ "\.(tpl|log)$">
order deny,allow
allow from none
deny from all
</files>
